<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%=song.name %></title> 
  </head>
 <body>
    <h1><%= song.name %></h1>
    <%=song.isASong%>
        <% if (song.isASong){ %>
  <p>This is a Song</p>
<% } else { %>
        <p>This is not a Song</p>
<% } %>
<a href="/songs">Back to Composers</a>
<form action = "/songs/<%=song._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%song.name%></button>
</form>
<a href="/songs<%=song._id%>/edit">Edit <%=song.name%></a>
<a href="/songs">Back to Composers</a>
</body>
</html>
      
    





